# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/.next-backup/
/.next*/
/out/

# production
/build

# misc
.DS_Store
*.pem
.env*
errors.log
tsconfig.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
.cursor

# local files
temp.log